
}
body {
    font-size: 22px;
    line-height: 34px;
  }
  
  header,
  nav {
    background-color: #fd739c;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 60px;
  }
  
  h1,
  h2 {
    font-family: Arial, Helvetica, sans-serif;
  }

  #whoami {
      padding-top: 40px;
  }

  